<form class="form form_border">
    <div class="form__label">User Name:</div>
    <input class="form__input form__input_text" type="text">

    <div class="form__label">Password:</div>
    <input class="form__input form__input_text" type="password">
    <div class="form__container form__container_right">
        <a ui-sref="home.topnav" class="link" >Log In</a>
    </div>
    <div class="form__container">
        <label class="form__label">
            <input type="checkbox" class="form__input form__input_checkbox">
            <span class="form__label form__label_inline-block">Remember Me</span>
        </label>
    </div>
    <div class="form__container">
        <a ui-sref="auth.restore" class="link">Reset my password</a>
    </div>

</form>
