<div class="float-modal__container">Provide the following information and an email will be sent to you with instructions to create a new password.</div>
<form class="form form_border">
    <div class="form__label">User Name:</div>
    <input class="form__input form__input_text" type="text">

    <div class="form__label">Email Address:</div>
    <input class="form__input form__input_text" type="text">
    <a ui-sref="auth.login" class="link" >Back to Log In</a>

    <div class="form__container form__container_right">
        <button class="btn _disabled" type="submit">Continue</button>
    </div>
</form>
