<div class="auth">
  <div class="auth__inner" >

<div class="page__container page__container_vertical-center">
    <div class="float-modal float-modal_login">
        <div class="logo logo_login"></div>
        <div ui-view></div>
    </div>
</div>
</div>
</div>
